<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/Color.css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type='text/javascript' src='js/script.js'></script>
    <script type='text/javascript' src='js/popup.js'></script>
</head>
<body>
    <header>
        <h1>
            
        </h1>

        <div id="navigation" th:insert="~{common :: div('selectedMenu')}">

        </div>    
    </header>



    <div class="ajoute">
                <h1 class="Title">Ajouter un épisode</h1>
                <form action="" method="POST">
                    <h2>Nom de l'épisode<div class="champ"><input type="text" placeholder="Nom de l'épisode" required=""></div></h2>
                    <h2>Numéro de l'épisode<div><input type="number" name="numéro de l'épisode" min="0" max="10"></div></h2>
                    <h2>Date de parution<div class="champ" type="number" placeholder="Date de parution" required=""><input></div></h2>
                    <h2>Les personnages présents dans l'épisode</h2>
                    <div id="choix">
                          
                         <input type="checkbox" name="option[]" value="option1" checked="" />John Snow </br>
                         <input type="checkbox" name="option[]" value="option2" />Daenerys Targaryen </br>
                         <input type="checkbox" name="option[]" value="option3" />Sansa Stark </br>
                         <input type="checkbox" name="option[]" value="option4" />Arya Stark </br>
                         <input type="checkbox" name="option[]" value="option5" />Cersei Lannister </br>
                         <input type="checkbox" name="option[]" value="option6" />Tyrion Lannister </br>
                         <input type="checkbox" name="option[]" value="option7" />Jaime Lannister </br>
                         <input type="checkbox" name="option[]" value="option8" />Theon Greyjoy </br>
                        <option th:each="genre : ${listepersonnage}"
                                th:text="${personnage.personnage_name}">Jon Snow</option>
                        
                    </div>
                   
                    <h2>Commentaire<div class="champ"><textarea name="message" rows="10" cols="30" placeholder="Ex: Entrer un commentaire ici " required=""></textarea></div></h2>
                    <div><input type="submit" class="buttons" value="envoyer" onclick="addEpisode()"></div>
                </form> 

            
        
    </div>
    


    <footer>
        <p>
      WINTER IS COMING
        </p>


    </footer>


</body>
</html>