<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/test.css" media="screen" />
</head>
<body>
    <div class="page">
    <header class="site-header">
    </header>



        <div id="navigation">
            <a href="accueil" class="bouton_navigation" id="bouton1">Page D'accueil</a>
            <a href="personnage" class="bouton_navigation" id="bouton2">Personnages</a>
            <a href="episode" class="bouton_navigation" id="bouton3">Episodes</a>
           
        </div>



     </div>
</body>
</html>
