<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/Color.css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

</head>
<body>
    <header>
        <h1>

        </h1>

        <div id="navigation" th:insert="~{common :: div('personnage')}">
            
            
        </div>
    </header>

    <div>

        <div id="actor">
            <table cellspacing="50" id="premiere">
                <h2>Les Personnages</h2>
                <tr>
                    <td><figure><a href="http://fr.gameofthrones.wikia.com/wiki/Daenerys_Targaryen"><img src="../../img/Daenerys.jpeg"/></a><figcaption>Daenerys Targaryen</figcaption></figure></td>
                    <td><figure><a href="http://fr.gameofthrones.wikia.com/wiki/Jon_Snow"><img src="../../img/Jonsnow.jpg"/></a><figcaption>Jon Snow</figcaption></figure></td>
                    <td><figure><a href="http://fr.gameofthrones.wikia.com/wiki/Sansa_Stark"><img src="../../img/Sansa.jpg"/></a><figcaption>Sansa Stark</figcaption></figure></td>
                    <td><figure><a href="http://fr.gameofthrones.wikia.com/wiki/Arya_Stark"><img src="../../img/Arya.jpg"/></a><figcaption>Arya Stark</figcaption></figure></td>
                </tr>
            
                <tr>
                    <td><figure><a href="http://fr.gameofthrones.wikia.com/wiki/Cersei_Lannister"><img src="../../img/Cersei.jpg"/></a><figcaption>Cersei Lannister</figcaption></figure></td>
                    <td><figure><a href="http://fr.gameofthrones.wikia.com/wiki/Tyrion_Lannister"><img src="../../img/Tyrion.png"/></a><figcaption>Tyrion Lannister</figcaption></figure>
                    </td>
                    <td><figure><a href="http://fr.gameofthrones.wikia.com/wiki/Jaime_Lannister"><img src="../../img/Jaime.jpg"/></a><figcaption>Jaime Lannister</figcaption></figure></td>
                    <td><figure><a href="http://fr.gameofthrones.wikia.com/wiki/Theon_Greyjoy"><img src="../../img/Theon.jpg"/></a><figcaption>Theon Greyjoy</figcaption></figure></td>
                </tr>
            
            </table>
            
        </div>
    </div>
    


    
    <footer>
        <p>
      WINTER IS COMING
        </p>


    </footer>


</body>
</html>